.Register {
	color: white;
}

.Register .Background{
	z-index: -1;
	background:black;
	position:absolute;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
}


.Register .logoandname {
	color: white;
	position: absolute;
	left: calc(50% - 131px/2 - 109px);
	top: 30px;
	/* float:left; */
	/* width:100%; */
}

.Register .wolflogo{
	/* top: 0; */
	/* left: 0px; */
	/* position:relative; */
	float:left;
	width:100px;
}

.Register .wolflogo img{
	width: 120px;
	height: 120px;
}

.Register .apptext {
	padding-top: 40px;
	font-family: "Vollkorn SC";
	font-style: normal;
	font-weight: normal;
	width: 250px;
	margin-left:100px;
	text-align: center;
	font-size: 48px;
	line-height: 60px;
}



.Register .spacer {
	height: 30px;
}

.Register .buttons {
	/* left: 100px; */
	left: 50px;
	right: 50px;
	bottom: 30px;
	
	/* text-decoration: none; */
	/* color: black; */
	font-family: "Vollkorn SC";
	position: absolute;
}

.Register .validationMessage {
	/* visibility: hidden; */
	font-family: 'Vollkorn SC', serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	color: #c64040;
	text-align: center;
	font-size: 30px;
}

