.Login {
	/* background-color: black; */
	color: white;
}

.Login .Background{
	z-index: -1;
	background:black;
	position:absolute;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
}

.Login .broMessage {
	top: 170px;
	position: absolute;
	left: calc(50% - 120px/2 - 120px);
	text-align: center;
	font-family: "Vollkorn SC";
	line-height: 30px;
	font-size: 36px;
}

.Login .broMessage p{
	margin-bottom: 20px;
}


.Login .logoandname {
	color: white;
	position: absolute;
	left: calc(50% - 131px/2 - 109px);
	top: 30px;
	/* float:left; */
	/* width:100%; */
}

.Login .wolflogo{
	float:left;
	width:100px;
}

.Login .wolflogo img{
	width: 120px;
	height: 120px;
}

.Login .apptext {
	padding-top: 40px;
	font-family: "Vollkorn SC";
	font-style: normal;
	font-weight: normal;
	width: 250px;
	margin-left:100px;
	text-align: center;
	font-size: 48px;
	line-height: 60px;
}


.forgotPassword{
	color: white;
	text-decoration:underline; /* no underline */
	text-align: center;
	width: 100%;
	font-size: 24px;
	display: inline-block;
}

.forgotPassword a{
	text-decoration: underline;
	color: white;
}

.forgotPassword a:hover{
	cursor: pointer;
	color:lightgrey;

}

.Login .buttons {
	/* left: 100px; */
	left: 50px;
	right: 50px;
	bottom: 30px;
	
	/* text-decoration: none; */
	/* color: black; */
	font-family: "Vollkorn SC";
	position: absolute;
}