.backgroundProfile
{
    top:0px;
    bottom: 100px;
    right:0px;
    left: 0px;
    width: 100%;
    height: 90%;
    position: absolute;
    background-color: white;
    z-index: -1;
    max-height: 90%;
    overflow-y: scroll;
}

.titleZone
{
    height: 10%;
    width: 100%;
    background-color: black;
    align-items:center;
    justify-content: center;
    text-align: center;

    display: flex;
}

.PhotoZone
{
    width: 75%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.AboutZone
{
    height: auto;
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 100px;
    margin-bottom: 100px;
    background-color: rgb(190, 190, 190);
}

.css-1qzevvg
{
    display: none !important;
}