.MailConfirmation {
	color: white;
}

.MailConfirmation .Background{
	z-index: -1;
	background:black;
	position:absolute;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
}


.MailConfirmation .logoandname {
	color: white;
	position: absolute;
	left: calc(50% - 131px/2 - 109px);
	top: 30px;
	/* float:left; */
	/* width:100%; */
}

.MailConfirmation .wolflogo{
	/* top: 0; */
	/* left: 0px; */
	/* position:relative; */
	float:left;
	width:100px;
}

.MailConfirmation .indiceMessage {
	top: 180px;
	position: absolute;
	left: calc(50% - 100px/2 - 100px);
	text-align: center;
	font-family: "Vollkorn SC";
	line-height: 70px;
	font-size: 32px;
	width: 300px;
}

.MailConfirmation .indiceMessage p{
	margin-bottom: 20px;
}




.MailConfirmation .apptext {
	padding-top: 40px;
	font-family: "Vollkorn SC";
	font-style: normal;
	font-weight: normal;
	width: 250px;
	margin-left:100px;
	text-align: center;
	font-size: 48px;
	line-height: 60px;
}

.MailConfirmation .buttons {
	/* left: 100px; */
	left: 50px;
	right: 50px;
	bottom: 30px;
	
	/* text-decoration: none; */
	/* color: black; */
	font-family: "Vollkorn SC";
	position: absolute;
}

.MailConfirmation .ButtonStyle {
	position:relative;
	width: 100%;
	display: inline-block;

	height: 50px;
	min-width: 200px;
	padding-top: 5px;
	background-color:white;
	overflow:hidden;
	border: 0;
	font-family: 'Vollkorn SC', serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 30px;
	--notchSize: 21px;
	clip-path:
	polygon(
	  0% var(--notchSize), 
	  var(--notchSize) 0%, 
	  100% 0%, 
	  100% var(--notchSize), 
	  100% calc(100% - var(--notchSize)), 
	  calc(100% - var(--notchSize)) 100%, 
	  0% 100%, 
	  0% calc(100% - var(--notchSize))
	);
}

.MailConfirmation .ButtonStyle:hover{
	cursor: pointer;
	background-color: lightgrey;
}

.MailConfirmation .validationMessage {
	/* visibility: hidden; */
	font-family: 'Vollkorn SC', serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	color: #c64040;
	text-align: center;
	font-size: 30px;
}