body {
	/* background-color: black; */
}

.Start {
	user-select: none;
}





.Start a {
	color: black;
	text-decoration: none; /* no underline */
}

.Start .buttons {
	/* left: 100px; */
	left: 50px;
	right: 50px;
	bottom: 30px;
	
	/* text-decoration: none; */
	/* color: black; */
	font-family: "Vollkorn SC";
	position: absolute;
}

.Start .spacer {
	height: 30px;
}


.Start .logoandname {
	color: white;
	/* display: inline-block; */
	/* z-index: 900; */
	position: absolute;
	/* width: 431px; */
	/* width:100%; */
	/* height: 116px; */
	left: calc(50% - 131px/2 - 109px);
	bottom: 289px;
	/* float:left; */
	/* width:100%; */
}

.Start .wolflogo{
	/* top: 0; */
	/* left: 0px; */
	/* position:relative; */
	float:left;
	width:100px;
}

.Start .apptext {
	/* float:right; */
	padding-top: 40px;
	/* position:relative; */
	/* left:40%; */
	/* width:40%; */
	/* vertical-align: top; */
	font-family: "Vollkorn SC";
	font-style: normal;
	font-weight: normal;
	width: 250px;
	margin-left:100px;
	text-align: center;
}

.Start .appname {
	vertical-align: top;
	font-size: 48px;
	line-height: 60px;
}

.Start .appslogan {
	vertical-align: top;
	font-size: 24px;
	line-height: 00px;
}

.Start .Background{
	z-index: -1;
	background:#9B0000;
	position:absolute;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
}

.Start .whitebackground {
	position: absolute;
	width:100%;
	height: 215px;
	left: 0px;
	right: 0px;
	bottom: 490px;
}

.Start .greybackground {
	position: absolute;
	width:100%;
	height: 210px;
	left: 0px;
	right: 0px;
	bottom: 420px;
}

.Start .blackbackground {
	position: absolute;
	width:100%;
	height: 559.5px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}