.Navbar{
	background-color: white;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	/* height: 90px; */
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	padding: 15px 30px 15px 30px;
}

.Navbar button{
	height: 60px;
	width: 60px;
	background-color: #F2F2F2;
	border:none;
}

.Navbar button:hover{
	cursor: pointer;
	filter: invert();
}

.Navbar button:focus{
	border: none;
	outline: none;
	/* cursor: pointer; */
}

.Navbar img{
	/* opacity: 80%; */
	height: 44px;
	width: 44px;
	filter:invert() brightness(90%) 
	/* fill: green; */
}